
main{
    display: grid;
    grid-template-rows: 2fr 3fr 3fr 1fr;
}
.first, .third{
    background-color: var(--colornamelessorange);
}
.second, .fourth{
    background-color: var(--colornamelesslavanta);
}
/**/
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    
}
.firstColumnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: clamp(1rem, 5vw, 20rem);
    height: 5rem;
}

/**/
.second{
    display: flex;
    justify-content: center;
    gap: 8rem;
    font-family: 'inter';
    padding: clamp(2rem, 10vh, 10rem) 0;
}
.secondColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
}
.secondColumn h2{
    padding: clamp(1rem, 1vh, 5rem) clamp(4rem, 1vw, 30rem);
}
.FirstRow{
    background-color: var(--dividerColorOne);
}
.SecondRow{
    background-color: var(--dividerColorTree);
}
.ThirdRow{
    background-color: var(--dividerColorTwo);
}
.FourthRow{
    background-color: var(--dividerColorFour);
}
.FifthRow{
    background-color: var(--divideColorFive);
}
/**/
.third{
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-family: 'inter';
}
.subsection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    color: var(--textColor);
}