body{
    font-family: 'inter';
    color: var(--textColor);
    background-color: var(--dividerColorTwo);
}
.container-part{
    display: flex;
    align-items: center;
    justify-content: center; 
}
/**/
.roadmap{
    display: grid;  
    grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
}
section{
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.box{
    display: grid;
}
/**/
.treepart{
    grid-template-columns: 1fr 1fr 1fr;
}
.treepartone{
    display: grid;
    grid-template-rows: 2fr 3fr;
}
.container-for-fourpart{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.foursection{
    align-items: center;
    justify-content: center;
    border:  0.2rem solid seagreen;  
}
/**/
.container-for-fourpart h4{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;  
    border-radius: 30px;
    padding: 2rem 0.2rem;
    background-color: var(--dividerColorTree);
}
.foursection h3{
    padding: 0.2rem 2rem;
    border-radius: 20px;
    transform: rotate(90deg);
    background-color: var(--dividerColorTree);
}
section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    border:  0.2rem solid #7d9b76;  
    background-color: var(--dividerColorTree);
}
.container-part h1{
    background-color: var(--dividerColorOne);
    padding: clamp(1rem, 2vh, 5rem);
    border-radius: 20px;

}
.twopart{
    grid-template-columns: 1fr 1fr;
}