main{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 5rem;
}
section{
    flex: 1 1 30%;
}
.front-end, .back-end, .tooling{
    background-color: var(--dividerColorTwo);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
}
.devOps, .Security{
    background-color: var(--dividerColorTwo);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
    
}