main{
    display: grid;
    grid-template-rows: 2fr 11fr;
}
/**/
.title-zone{
    background-color: var(--dividerColorOne);
}
/**/
/**/
.chatagories-zone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
/**/
.first{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--dividerColorTree);
}
.second{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--dividerColorTwo);
}
.third{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dividerColorTree);
}
.fourth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dividerColorTwo);
}
.fifth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dividerColorTree);
}
/**/
.subtitle{
    display: grid;
    grid-template-rows: 3fr 5fr;
}
.subtitle-subchatagory{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: saddlebrown;
    
}
.subtitle-subchatagory h2{
    border: 0.2rem solid black;
}